In [1]:
message = "Hello Python World"
print(message)

Hello Python World

In [2]:
message = "Hello Python Crash Course World"
print(f'{message}')

Hello Python Crash Course World

In [4]:
mesage = "Hello Python Crash Course reader"
print(mesage)

Hello Python Crash Course reader

In [5]:
msg = "This is a string"
print(msg)

This is a string

In [6]:
name = 'ada lovelace'
print(name.title())

Ada Lovelace

In [7]:
print(name.upper())

ADA LOVELACE

In [8]:
print(name.lower())

ada lovelace

In [18]:
first_name = 'ada'
last_name = 'lovelace'
full_name = f'{first_name} {last_name}'
print(f'Hello {full_name.title()}')

Hello Ada Lovelace

In [24]:
favourite_language = 'python '
print(f'my favourite language is {favourite_language.strip()}.')

my favourite language is python.

In [25]:
favourite_language = ' python '

In [27]:
print(f'my favourite lang is -{favourite_language.lstrip()}.')

my favourite lang is -python .

In [28]:
print(f'my favourite lang is -{favourite_language.rstrip()}.')

my favourite lang is - python.

In [29]:
print(f'my favourite lang is -{favourite_language.strip()}.')

my favourite lang is -python.

In [30]:
my_dogs = 2

In [31]:
print(f'number of dogs {my_dogs}')

number of dogs 2

In [32]:
#Addition operation expression

print(43 + 60 + 16 + 41)

160

In [33]:
50-60

-10

In [34]:
5*5

25

In [35]:
25/6

4.166666666666667

In [36]:
25//6

4

In [37]:
160//60

2

In [38]:
30 + 2*60

150

In [39]:
(30+2)*60

1920

In [40]:
x = 43 + 60 + 16 + 41

In [41]:
print(x)

160

In [42]:
y= x/60

In [43]:
print(y)

2.6666666666666665

In [44]:
x = x/60

In [45]:
x

2.6666666666666665

In [46]:
total_min = 43 + 42 + 57
total_min

142

In [47]:
total_hours = total_min/60

In [48]:
total_hours

2.3666666666666667

In [49]:
30 + 20 - 40

10

In [50]:
(55-5)/10

5.0

In [52]:
(6*10)/12

5.0

In [53]:
x = 3 + 2 *2

In [54]:
x

7

In [55]:
y = (3+2) * 2

In [56]:
y

10

In [57]:
z = x + y

In [58]:
z

17

In [59]:
name = 'michael jackson'

In [60]:
name[0]

'm'

In [61]:
name[6:]

'l jackson'

In [62]:
name*3

'michael jacksonmichael jacksonmichael jackson'

In [63]:
name

'michael jackson'

In [64]:
name = name*3

In [65]:
name

'michael jacksonmichael jacksonmichael jackson'

In [72]:
name ='Michael Jackson'

In [73]:
name = name+'\\is the king of pop'

In [74]:
name

'Michael Jackson\\is the king of pop'

In [75]:
A = 'Thriller is the sixth studio album'

In [76]:
A

'Thriller is the sixth studio album'

In [77]:
A.upper()

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [78]:
A.title()

'Thriller Is The Sixth Studio Album'

In [79]:
A.lower()

'thriller is the sixth studio album'

In [80]:
A = 'Michael Jackson is the best'

In [81]:
A.replace('Michael','Janet')

'Janet Jackson is the best'

In [82]:
A

'Michael Jackson is the best'

In [83]:
A

'Michael Jackson is the best'

In [84]:
A.find("is")

16

In [85]:
A.find('el')

5

In [86]:
A.find('Jack')

8

In [87]:
A

'Michael Jackson is the best'

In [88]:
name = 'John'
age = 30

In [89]:
print(f'My name is {name} and I am {age} is year old')

My name is John and I am 30 is year old

In [90]:
name = 'John'
age = 46

In [91]:
print('My name is {} andn I am {} years old'.format(name,age))

My name is John andn I am 46 years old

In [95]:
name = 'Angelina'
age = 36
print('My name is %s and I am %d years old' %(name,age))

My name is Angelina and I am 36 years old

In [96]:
x = 10
y = 20
print(f'Sum of {x} and {y} is {x+y}')

Sum of 10 and 20 is 30

In [109]:
file = r'C:\new_folder\file.txt'

In [110]:
print(file)

C:\new_folder\file.txt

In [111]:
"Michael Jackson"

'Michael Jackson'

In [112]:
'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [114]:
msg = '@#2_#]&*^%$'

In [117]:
msg.split(' ')

['@#2_#]&*^%$']

In [118]:
print("hello")

hello

In [119]:
name = 'Michael Jackson'
name

'Michael Jackson'

In [120]:
name

'Michael Jackson'

In [121]:
name[0]

'M'

In [122]:
print(name[0])

M

In [123]:
name[6]

'l'

In [124]:
name[-1]

'n'

In [125]:
len(name)

15

In [126]:
name[-15]

'M'

In [127]:
name[-1]

'n'

In [128]:
name[:4]

'Mich'

In [129]:
name[8:12]

'Jack'

In [130]:
name

'Michael Jackson'

In [131]:
name[0:4]

'Mich'

In [132]:
name[8:12]

'Jack'

In [133]:
name

'Michael Jackson'

In [134]:
name[4:8]

'ael '

In [135]:
name

'Michael Jackson'

In [136]:
name[0:4]

'Mich'

In [137]:
name[::2]

'McalJcsn'

In [138]:
name

'Michael Jackson'

In [139]:
name[:5:2]

'Mca'

In [140]:
stmnt = name + ' is the best'

In [141]:
stmnt

'Michael Jackson is the best'

In [142]:
name

'Michael Jackson'

In [143]:
name*4

'Michael JacksonMichael JacksonMichael JacksonMichael Jackson'

In [144]:
name = 'Michael Jackon'
name = name+' is the best'

In [145]:
name

'Michael Jackon is the best'

In [146]:
print('Michael Jackson \n is the best')

Michael Jackson
 is the best

In [147]:
print('Michael Jackson \t is the best')

Michael Jackson 	 is the best

In [151]:
print('Michael Jackson \ is the best')

Michael Jackson \ is the best

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\nages\AppData\Local\Temp\ipykernel_24992\2833049345.py:1: SyntaxWarning: invalid escape sequence '\ '
  print('Michael Jackson \ is the best')

In [152]:
print(r'Michael Jackson \ is the best')

Michael Jackson \ is the best

In [153]:
a = 'thriller is the sixth  studio album'

In [154]:
a.upper()

'THRILLER IS THE SIXTH  STUDIO ALBUM'

In [155]:
a.title()

'Thriller Is The Sixth  Studio Album'

In [156]:
a.lower()

'thriller is the sixth  studio album'

In [157]:
a

'thriller is the sixth  studio album'

In [158]:
a = 'Michael Jackson is the best'

In [161]:
b = a.replace('Michael','Janet')

In [162]:
a

'Michael Jackson is the best'

In [163]:
b

'Janet Jackson is the best'

In [164]:
name = 'Michael Jackson'

In [165]:
name.find('Jack')

8

In [166]:
name.find('Ja')

8

In [167]:
name.find('ck')

10

In [169]:
name.find('el')

5

In [170]:
name.find('he')

-1

In [171]:
name = 'Michael Jackson'

In [172]:
name.split()

['Michael', 'Jackson']

In [174]:
name.split(' ')

['Michael', 'Jackson']

In [194]:
import re

In [178]:
s1  = 'Michael Jackson is the best dancer'

In [177]:
pattern = r'Jackson'

In [185]:
s1.find(pattern)

8

In [188]:
result = re.search(pattern,s1)

In [189]:
if result:
    print('Match found')
else:
    print('Match NOT found')

Match found

In [197]:
text = "My Phone number is 1234567890"

In [192]:
result = re.search('\d\d\d\d\d',text)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\nages\AppData\Local\Temp\ipykernel_24992\3983355576.py:1: SyntaxWarning: invalid escape sequence '\d'
  result = re.search('\d\d\d\d\d',text)

In [193]:
if result:
    print('MATCH FOUND***')
else:
    print('MATCH NOT FOUND')

MATCH FOUND***

In [198]:
pattern = r'\d\d\d\d\d'
result = re.search(pattern,text)
if result:
    print('MATCH FOUND')
else:
    print('MATCH NOT FOUND')

MATCH FOUND

In [202]:
pattern = r'\W'
text = 'Hello World!!'
match = re.findall(pattern,text)
if(match):
    print('MATCH',match)

MATCH [' ', '!', '!']

In [203]:
msg = 'Michael Jackson is a singer and known as  "King of Pop"'

In [206]:
result = re.findall('as',msg)
print(result)

['as']

In [208]:
lst = re.split(r'\s',msg)
print(lst)

['Michael', 'Jackson', 'is', 'a', 'singer', 'and', 'known', 'as', '', '"King', 'of', 'Pop"']

In [210]:
print(msg.split())

['Michael', 'Jackson', 'is', 'a', 'singer', 'and', 'known', 'as', '"King', 'of', 'Pop"']

In [211]:
pattern = 'King of Pop'

replacement = 'legend'

In [212]:
new_msg = re.sub(pattern,replacement,msg)

In [213]:
print(new_msg)

Michael Jackson is a singer and known as  "legend"

In [214]:
a = "1"

In [215]:
b = '2'

In [216]:
c = a+b

In [217]:
c

'12'

In [218]:
msg='ABCDEFG'

In [219]:
msg[:3]

'ABC'

In [220]:
elf ='clocrkr1e1c1t'
print(elf[::2])

correct

In [223]:
print(r'\\')

\\

In [222]:
print("\\\\")

\\

In [224]:
msg = 'you are wrong'

In [225]:
msg.upper()

'YOU ARE WRONG'

In [226]:
msg = 'YOU ARE RIGHT'
msg.lower()

'you are right'

In [227]:
msg= msg.lower()

In [228]:
msg

'you are right'

In [229]:
msg.title()

'You Are Right'

In [230]:
msg = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [231]:
msg = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [233]:
re.sub('Mary','Bob',msg)

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [234]:
msg

'Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go'

In [238]:
msg.index('snow')

95

In [239]:
re.sub(',','.',msg)

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [240]:
re.split('\s',msg)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\nages\AppData\Local\Temp\ipykernel_24992\782086385.py:1: SyntaxWarning: invalid escape sequence '\s'
  re.split('\s',msg)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [241]:
msg.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [242]:
msg = "House number- 1105"

In [251]:
result = re.search(r'\d',msg)
print(result)
if result:
    print('MATCH FOUND',result.group())
else:
    print("MATHC NOT FOUND",result)

<re.Match object; span=(14, 15), match='1'>
MATCH FOUND 1

In [245]:
msg.find('1105')

14

In [252]:
msg = "The quick brown fox jumps over the lazy dog."

In [253]:
re.sub('fox','bear',msg)

'The quick brown bear jumps over the lazy dog.'

In [254]:
msg = "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

In [256]:
lst = re.findall('woo',msg)

In [257]:
len(lst)

4

In [258]:
favourite_language = ' python '

In [261]:
print(f'my favourite language is -{favourite_language.lstrip()}-')

my favourite language is -python -

In [262]:
print(f'my favourite language is -{favourite_language.rstrip()}-')

my favourite language is - python-

In [263]:
print(f'my favourite language is -{favourite_language.strip()}-')

my favourite language is -python-

In [265]:
nostarch_url = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [266]:
msg = "One of Python's strength is it's diverse community"
print(msg)

One of Python's strength is it's diverse community

In [267]:
msg = 'One of Python's strength is it's diverse community'

SyntaxError: invalid syntax (2858503059.py, line 1)

In [268]:
name = 'Eric'
print(f'Hello {name}, would you like to learn some Python today')

Hello Eric, would you like to learn some Python today

In [269]:
bicycles = ['trek','cannondale','redline','specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [270]:
bicycles.append('hero')

In [271]:
bicycles.append('atlas')

In [272]:
for item in bicycles:
    print(f'my cycle is {item}')

my cycle is trek
my cycle is cannondale
my cycle is redline
my cycle is specialized
my cycle is hero
my cycle is atlas

In [273]:
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized', 'hero', 'atlas']

In [274]:
bicycles[0]

'trek'

In [275]:
bicycles[-1]

'atlas'

In [276]:
bicycles[0].title()

'Trek'

In [277]:
for item in bicycles:
    print(item.title())

Trek
Cannondale
Redline
Specialized
Hero
Atlas

In [278]:
bicycles[-1]

'atlas'